@import "../../../variable.scss";

.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  margin: 40px auto;
  position: relative;
  background: $themeLightBlue;
  box-shadow: -35px 0 $themeLightBlue, 35px 0 $themeLightBlue;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: $themeLightBlue;
    box-shadow: -35px 0 $themeBlue, 35px 0 $themeLightBlue;
  }
  66% {
    background: $themeBlue;
    box-shadow: -35px 0 $themeLightBlue, 35px 0 $themeLightBlue;
  }
  100% {
    background: $themeLightBlue;
    box-shadow: -35px 0 $themeLightBlue, 35px 0 $themeBlue;
  }
}