@import "../../variable.scss";

.editPost {
  &__title {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: $themeBlack;
    margin: 0 0 21px 0;
  }
}