@import "../../../variable.scss";

.customInput {
  padding-bottom: 12px;

  & p {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    margin: 0;
  }
  &__label {
    margin: 0 0 2px 0;
  }
  &__input {
    box-sizing: border-box;
    border: 1px solid $themeMiddleGray;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    font-family: "Roboto";
    padding: 0 12px;
    margin: 0;

    &:focus {
      outline: none;
      border-color: $themeMiddleGray;
    }

    &_error {
      border-color: $themeRed;
    }
  }
  &__error {
    color: $themeRed;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
}