$themeBlack: #262626;
$themeGray: #8C8C8C;
$themeMiddleGray: #D9D9D9;
$themeLightGray: #E8E8E8;
$themeBlueGray: #9ABBCE;
$themeLightBlue: #EBEEF3;
$themeWhite: #FFFFFF;
$themeRed: #F5222D;
$themeBlue: #1890FF;